.btn-a {
    border: none;
    color: $two;
    font-size: 18px;
    font-weight: 700;
    user-select: none;
    background: $five;
    text-transform: uppercase;
    padding: 20px 30px 20px 30px;
    font-family: $text;
    &:hover, 
    &:active {
        color: $two;
    }
    @media screen and (max-width: 320px) {
        font-size: 13px;
    }
}
.button {
    margin-top: 5%;
    @media screen and (max-width: 780px) {
        margin: 10% 0 10% 0;
    }
}
.button-second {
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 700;
    user-select: none;
    margin-top: 5%;
    text-transform: uppercase;
    padding: 20px 30px 20px 30px;
    font-family: $text;
    @media screen and (max-width: 780px) {
        margin: 5% 0 5% 0;
    }
}
.button-third {
    @media screen and (max-width: 780px) {
        padding: 10% 0 10% 0;
    }
}
.button-fourth {
    margin: 5% 0 5% 0;
}
.btn-one {
    color: $two;
    background-color: $one;
}
.btn-two {
    color: $five;
    background-color: $two;
}
.btn-three {
    color: $five;
    background-color: $three;
}
.btn-four {
    color: $three;
    background-color: $four;
}