.describe-strong {
  padding: 10% 0 10% 0;
  background-color: $two;
  @media screen and (max-width: 480px) {
    padding: 25% 0 15% 0 !important;
  }
  @media screen and (max-width: 780px) {
    padding: 15% 0 10% 0;
  }
  .col-projet {
    margin-bottom: 5%;
  }
  img {
    width: 100%;
  }
  .img {
    margin-top: 5%;
  }
  .import-sec {
    padding: 30px;
    margin: 5% 0 5% 0;
    background-color: $three;
  }
  h2,
  h3,
  h4,
  h5 {
    color: $four;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 10px 0;
    text-transform: uppercase;
    font-family: $text;
  }
  .dec-projet-two {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .button {
    @media screen and (max-width: 767px) {
      text-align: center !important;
    }
    @media screen and (max-width: 1024px) {
      margin: 10% 0 5% 0;
    }
  }
}
